# Thư mục cần loại trừ khỏi build
node_modules/
vendor/

# IDE/editor files
.DS_Store
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Laravel specific
/public/storage
/storage/*.key

# Git
.git
.gitignore

# Tests & artifacts (nếu không cần chạy test trong image)
phpunit.xml
phpunit.xml.dist
tests/
